/* Mobile first, desktop later */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
.nav-bar {
  position: relative;
  height: 40px;
  background: rgb(58, 183, 224);
  border-bottom: 1px solid;
}
.nav-list {
  position: absolute;
  top: -100px;
  height: 0;
  transition: all .6s ease;
  text-align: center;
  color: white;
  line-height: 40px;
  width: 100%;
}
.nav-list.open {
  height: 160px;
  top: 40px;
  background: rgb(58, 183, 224);
  border-radius: 0 0 20px 20px;
}
.nav-link {
  display: none;
}
.nav-list.open > .nav-link {
  display: block;
}
.nav-link:hover {
  background: rgb(9, 93, 248);
}
.burger-menu {
  position: absolute;
  width: 100%;
  margin: 5px auto;
  background: transparent;
  height: 40px;
  width: 40px;
  color: white;
}
.burger-menu:hover {
  color: rgb(9, 93, 248);
}
main {
  margin: 10px;
}
p {
  margin: 10px auto;
}

/* Desktop after mobile */
@media only screen and (min-width: 500px) {
  .burger-menu {
    display: none;
  }
  .nav-list, .nav-list.open {
    top: 0;
    height: 100%;
    opacity: 1;
    display: flex;
    list-style-type: none;
    flex-flow: nowrap;
    justify-content: space-around;
  }
  .nav-link {
    display: block;
    flex: 25%;
    text-align: center;
    line-height: 40px;
    color:white;
  }
}  